/* change background color */
[data-md-color-primary=indigo]{--md-primary-fg-color: rgba(0, 112, 239, 1);--md-primary-fg-color--light: hsla(231deg, 44%, 74%, 1);--md-primary-fg-color--dark: hsla(232deg, 54%, 41%, 1);--md-primary-bg-color: var(--md-default-bg-color);--md-primary-bg-color--light: var(--md-default-bg-color--light)}

.md-tabs{background-color: #1e1e1e;}

.md-main__inner {
    max-width: 80% !important;
}
article {
    font-size: 0.8rem !important; 
    line-height: normal;
}
.md-typeset h1{
margin:0 0 2rem;
color:var(--md-default-fg-color) !important;
font-weight:500 !important;
font-size:1.5625rem !important;
line-height:1.3;
letter-spacing:-0.01em;
}

.md-typeset h2{
margin:2rem 0 .8rem;
font-weight:500 !important;
font-size:1.25rem;
line-height:1.4;
letter-spacing:-0.01em}
.md-typeset h3{
margin:1.6rem 0 .8rem;
font-weight:600 !important;
font-size:1rem;
line-height:1.5;
letter-spacing:-0.01em}
.md-typeset h2+h3{margin-top:.8rem}
.md-typeset h4{
margin:.8rem 0;
font-weight:700;
font-size:.8rem;
letter-spacing:-0.01em}
.md-typeset h5{
margin:.8rem 0;
color:var(--md-default-fg-color--light);
font-weight:700;
font-size:.64rem;
letter-spacing:-0.01em}
.md-typeset h6{
margin:.8rem 0;
color:var(--md-default-fg-color);
font-weight:700;
font-size:.8rem;
letter-spacing:-0.01em;
text-decoration: underline;
text-decoration-style:dotted;
text-decoration-color: var(--md-default-fg-color--light);
}
.md-typeset h5{text-transform:none}
.md-typeset hr{
margin:1.5em 0;
border-bottom:.05rem dotted var(--md-default-fg-color--lighter)}

/* change block content width */

.tx-hero__content{
  max-width: 600px!important;
}

[data-md-color-accent=red]{
--md-accent-fg-color: hsl(212, 100%, 47%);
}

/*
h1 {
    font-family:"Roboto Slab";
}

h2 {
    font-family:"Roboto Slab";
}

h3 {
    font-family:"Roboto Slab";
}

h4 {
    font-family:"Roboto Slab";
}

h5 {
    font-family:"Roboto Slab";
}
*/
.md-sidebar--secondary .md-nav__item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.md-nav {
    line-height: 1.1;
}

.md-typeset ul li p, .md-typeset ul li blockquote, .md-typeset ol li p, .md-typeset ol li blockquote {
    margin: .2em 0;
}

