/* change background color */
[data-md-color-primary=indigo]{--md-primary-fg-color: rgba(0, 112, 239, 1);--md-primary-fg-color--light: hsla(231deg, 44%, 74%, 1);--md-primary-fg-color--dark: hsla(232deg, 54%, 41%, 1);--md-primary-bg-color: var(--md-default-bg-color);--md-primary-bg-color--light: var(--md-default-bg-color--light)}

.md-tabs{background-color: #1e1e1e;}

article {
    font-size: 0.8rem !important; 
    line-height: normal;
}

/* change block content width */

.tx-hero__content{
  max-width: 600px;
}

/*
h1 {
    font-family:"Roboto Slab";
}

h2 {
    font-family:"Roboto Slab";
}

h3 {
    font-family:"Roboto Slab";
}

h4 {
    font-family:"Roboto Slab";
}

h5 {
    font-family:"Roboto Slab";
}
*/
.md-sidebar--secondary .md-nav__item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.md-nav {
    line-height: 1.1;
}

.md-typeset ul li p, .md-typeset ul li blockquote, .md-typeset ol li p, .md-typeset ol li blockquote {
    margin: .2em 0;
}

